body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }



.image-top {
    object-fit: cover;
    object-position:50% 50% ;
    width: 101%;
    margin: 15px 0 0 0;
}
.three-images {
    display: flex; /* Расположить изображения в строку */
    justify-content: space-between; /* Распределение пространства между картинками */
    align-items: center; /* Выравнивание по центру */
    width: 100vw; /* Ширина контейнера равна ширине окна */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
  }
  


.three-images img {
    flex: 1; /* Изображения занимают равное пространство */
    width: 33.33%; /* Каждое изображение занимает треть ширины экрана */
    height: 600px; /* Задаем фиксированную высоту */
    object-fit: cover; /* Масштабируем изображение с обрезкой лишнего */
    border: 1px solid #ddd; /* Добавляем рамку для визуального разделения (по желанию) */

  }